@page "{restaurantId:int}"
@model OdeToFood.DetailModel
@{
  ViewData[ "Title" ] = "Detail";
}

@if ( Model.Message != null )
{
  <div class="alert alert-success">@Model.Message</div>
}

<h1>@Model.Restaurant.Name</h1>
<p>@Model.Restaurant.Id</p>
<p>Location: @Model.Restaurant.Location</p>
<p>Cusine: @Model.Restaurant.Cuisine</p>

<a asp-page="./List" class="btn btn-outline-primary">All Restaurants</a>